*{
    margin: 0px;
    padding: 0px;
}

p {
	font-size: 14px;
	color: black;
	line-height: 1.6;
}

div.par{
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
	border: 1px solid rgb(165,42,42);
	color: black;
	text-align: justify;
}